*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.75rem;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
}

.advice__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(218, 23%, 16%);
}

.advice__card {
  border-radius: 0.938rem;
  background-color: hsl(217, 19%, 24%);
  width: 90%;
  text-align: center;
}

.advice__heading {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.688rem;
  color: hsl(150, 100%, 66%);
  margin: 3rem 0 1.5rem 0;
}

.advice__quote {
  font-size: 1.5rem;
  width: 80%;
  margin: 0 auto;
  color: hsl(193, 38%, 86%);
  margin-bottom: 2.5rem;
}

.advice__divider {
  display: block;
  margin: 0 auto;
  width: 90%;
}

.advice__btn {
  position: relative;
  bottom: -35px;
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 50%;
  background-color: hsl(150, 100%, 66%);
  text-align: center;
  cursor: pointer;
}

.advice__btn:hover {
  box-shadow: 0 0 2.5rem 0 hsl(150, 100%, 66%);
}

@media (min-width: 768px) {
  .advice__card {
    width: 540px;
  }
  
  .advice__heading {
    font-size: 0.813rem;
  }

  .advice__quote {
    font-size: 1.75rem;
    width: 85%;
  }

  .advice__divider {
    width: 85%;
  }
}
